<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>학생증 목록</h2>
  </div>

  <div class="row">
    <div class="col">
      <form th:action="@{/admin/logout}" method="post">
        <button class="btn btn-primary float-end" onclick="location.href='home.html'" type="submit">
          로그아웃
        </button>
      </form>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>이름</th>
        <th>이메일</th>
        <th>학생증</th>
        <th></th>
        <th>버튼</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="userConfirm : ${userConfirms}">
        <td th:text="${userConfirm.username}"></td>
        <td th:text="${userConfirm.email}"></td>
        <td><a th:href="${userConfirm.studentCardImage}">학생증 보기</a></td>
        <td>
          <form th:action="'/admin/users/'+${userConfirm.userId}+'/authorize'" method="post">
            <button class="btn btn-primary float-end" onclick="location.href='home.html'"
                    type="submit">수락
            </button>
          </form>
        </td>
        <td>
          <form th:action="'/admin/users/'+${userConfirm.userId}" method="post">
            <button class="btn btn-primary float-end" onclick="location.href='home.html'"
                    type="submit">거절
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>